<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default suite">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
    </listeners>
    <test verbose="1" name="simple">
        <classes>
            <class name="me.robin.solr.TestSolrParallel">
                <methods>
                    <include name="test10"/>
                    <include name="test20"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" name="100 test">
        <classes>
            <class name="me.robin.solr.TestSolrParallel">
                <methods>
                    <include name="test100"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="3" name="200 test">
        <classes>
            <class name="me.robin.solr.TestSolrParallel">
                <methods>
                    <include name="test200"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="4" name="500 test">
        <classes>
            <class name="me.robin.solr.TestSolrParallel">
                <methods>
                    <include name="test500"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="5" name="800 test">
        <classes>
            <class name="me.robin.solr.TestSolrParallel">
                <methods>
                    <include name="test800"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="6" name="1000 test">
        <classes>
            <class name="me.robin.solr.TestSolrParallel">
                <methods>
                    <include name="test1000"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>